@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.bg_lifelink {
  background-image: url("../public/lifelink_bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.gen_bg {
  background-image: url("../public/general_bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.fading_divider_white {
  height: 1px;
  border: none;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, white));
}

.fading_divider_gray {
  height: 1px;
  border: none;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, #000000));
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: none;
    scrollbar-color: #db2929 #4b0707;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

  *::-webkit-scrollbar-track {
    background: #4b0707;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #db2929;
    border-radius: 10px;
    border: 0px none #ffffff;
  }
/* ===== Scrollbar CSS ===== */
